{% extends "libraryweb/base.html" %}
{% load static %}

{% block title %}Home - Library Management System{% endblock %}
{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="my-8 popular-books-section">
    <h2 class="text-3xl font-bold text-center text-blue-700 mb-6">Most Popular Books</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
        {% for book in popular_books %}
        <a href="{% url 'libraryweb:detail' book.isbn %}" class="block">
            <div class="book-card bg-white shadow-lg rounded-lg overflow-hidden">
            <!-- Book Cover Container -->
                <div class="relative w-full overflow-hidden">
                    <img src="{{ book.cover_url }}" alt="{{ book.title }}" class="w-full h-full object-scale-down object-center">
                </div>
            <!-- Book Title -->
                <div class="p-4">
                    <h3 class="font-semibold text-lg text-gray-800">{{ book.title }}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

<section class="my-8">
    <a href={% url "libraryweb:search" %}>
        <h2 id="browse-books" class="text-2xl font-bold text-blue-700 mb-4">Browse All Books</h2>
    </a>
    <!-- Additional book list can go here -->
</section>

{% endblock %}